*,
root,
html {
  padding: 5px;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.btn_support {
  float: right;
  width: 153px;
  height: 56px;

  background: #162447;
  border-radius: 68px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  position: absolute;
  bottom: 30px;
  right: 10px;
  cursor: pointer;
}

.btn_support:hover {
  opacity: 0.9;
}

.chat {
  display: none;
  font-family: "Roboto", sans-serif;
}

.in_support_header {
  float: right;
  width: 320px;
  height: 56px;

  background: #1b1b2f;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  justify-content: space-between;
}

.in_support_header span {
  color: #fff;
  display: flex;
  align-items: center;
}

.icon_close {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.chat_support {
  position: absolute;
  max-width: 330px;
  right: 10px;
  animation: up 1s;
}

.chat_support_hide {
  animation: down 1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    transform: translateY(60vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client .name {
  text-align: end;
}

.client_message {
  background: #f2ecfa;
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
}

.client .message {
  background: #f2ecfa;
  /* background: #cecad4; */
  padding: 20px 10px;
  margin: 10px 0;
  width: 250px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 20px;
}

.text_support {
  border: 1px solid #cec9c9;
  max-height: 500px;
  overflow-y: scroll;
  /* border-bottom: 0px; */
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin .message {
  width: 230px;
  background: #f2ecfa;
  border-radius: 4px;
  padding: 10px;
  margin-left: 12px;
}

.message_send {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cec9c9;
  align-items: center;
}

.message_send input {
  outline: none;
  height: 34px;
  align-items: center;
  width: 252px;
}

.send_message_button {
  display: flex;
  cursor: pointer;
}

.line {
  border: 1px solid #e9e9e9;
  padding: 0;
  margin: 0;
}

.text_help {
  padding-top: 8px;
}

.text_help textarea {
  width: 290px;
  height: 115px;

  padding: 10px;

  background: #ffffff;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.first_email {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.first_email input {
  border: 1px solid #dddddd;
  box-sizing: border-box;
  border-radius: 4px;
  height: 42px;
  width: 290px;
}

input[type="text"]:focus {
  outline: 1px solid #a8a8a8;
}

.btn_start_chat {
  width: 121px;
  height: 40px;

  background: #1f4068;
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn_start_chat:hover {
  opacity: 0.8;
}

.btn_cancel {
  border: 0;
  cursor: pointer;
  margin-right: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#txt_help:focus {
  outline: 1px solid #a8a8a8;
}

.charac_remaining {
  font-size: 10px;
  float: right;
}

.date {
  text-align: right;
  font-size: 1px;
}

.btn_atd {
  cursor: pointer;
  color: #fff;
  background: #54123b;
  border: none;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn_atd:hover {
  opacity: 0.9;
}

.admin {
  border: 1px solid #ededed;
  margin-top: 5px;
}

.email {
  float: left;
  width: 350px;
}

.admin_send_message {
  display: flex;
  flex-direction: row;
}

.admin_send_message input {
  width: 300px;
  margin-right: 10px;
}

.admin_send_message button {
  width: 100px;
  cursor: pointer;
}

.admin_list_messages {
  height: 300px;
  overflow-y: scroll;
}

.admin_message_admin {
  width: 300px;
  background: #e0e0e0;
  padding: 10px;
  margin: 12px;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  font-family: "Roboto", sans-serif;
}

#atendimentos {
  width: 600px;
}

.admin_message_client {
  width: 300px;
  background: #6f5eab;
  padding: 10px;
  margin: 10px;
  color: #eee;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

.admin_date {
  font-size: 10px;
  color: #fff;
}

.in_support {
  background: #8d7aef;
  color: #fff;
  font-size: 17px;
}

.btn_send {
  background: #1eb363;
  color: #eee;
  border: none;
}

.btn_send:hover {
  opacity: 0.8;
}